<%- include('../includes/admin-nav.ejs') %>

<section class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        Admin Dashboard / Add Student
      </li>
    </ol>
  </nav>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="border" style="padding:10px;">
          <h2>Add Student</h2>
          <% if(errorMessage) { %>
            <div>
              <br>
              <p class="text-center" style="color: red;"><%= errorMessage %></p>
              <br>
            </div>
          <% } %>
          <% if(successMessage) { %>
            <div>
              <br>
              <p class="text-center" style="color: green;"><%= successMessage %></p>
              <br>
            </div>
          <% } %>
          <form method="POST" action="/admin/add-student">
            <label>Name:</label>
            <input type="text" required name="name" placeholder="Please Enter Student Name" class="form-control">
            <label>Email:</label>
            <input type="email" required name="email" class="form-control" placeholder="Enter Email">
            <label>Password:</label>
            <input type="password" required name="password" class="form-control" placeholder="Enter Password">
            <label>Confirm Password:</label>
            <input type="password" required name="cpassword" class="form-control" placeholder="Confirm Password">
            <label>USN</label>
            <input type="text" required name="usn" placeholder="Please Enter USN" class="form-control">
            <label>Choose Branch</label>
            <select required class="form-control text-center" name="branch">
              <option selected="" disabled="">-- Choose branch -- </option>
              <option value="CSE">CSE</option>
              <option value="ISE">ISE</option>
              <option value="ECE">ECE</option>
              <option value="EEE">EEE</option>
            </select>
            <label>Choose Sem</label>
            <select required class="form-control text-center" name="sem">
              <option selected="" disabled="">-- Choose Semester -- </option>
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="6">6</option>
              <option value="8">8</option>
            </select>
            <br>
            <input type="submit" name="submit" value="Add Now" class="btn btn-primary">
          </form>
        </div> <!-- // form order -->
      </div>
        <div class="col-md-2">
      </div>
    </div>
  </div>
</section>

<br><br><br>

<%- include('../includes/footer.ejs') %>