<%- include('../includes/admin-nav.ejs') %>

   <section class="container">
   	
   	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
    Admin Dashboard / Profile</li>
  </ol>
</nav>
   </section>

   <section class="container">
      <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">Add New Admin</button>
      <br><br>
        <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Admin</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
           <label> Name:*</label>
          <input type="text" name="name" placeholder="Name" class="form-control"><br>
          <label> Email:*</label>
          <input type="text" name="email" placeholder="Email" class="form-control"><br>
          <label>Password:*</label>
          <input type="password" name="password" placeholder="Password" class="form-control"><br>
          <input type="submit" name="login-as-admin" value="Save Now" class="btn btn-info">
          <!-- redirect to admin folder index.html when login success -->
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
        <div class="row">
          <div class="col-md-5 border p-2 text-center">
            <h4 class="text-danger">All Admins</h4>

            <table class="table table-sm table-bordered table-striped table-hover">
                <tr>
                  <th>Sl no</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>

                <tr>
                  <td>1</td>
                  <td>Mr Xyz</td>
                  <td><button class="btn btn-danger">Delete <span class="fa fa-trash"></span></button></td>
                </tr>
            </table>

          </div>
           <div class="col-md-2">
          </div>
          <div class="col-md-5 border p-2 text-center">
             <h4 class="text-primary">My Details</h4> 
             <form>
             <table class="table table-sm table-hover table-bordered">
              <tr>
                <th>Name</th>
                <td>Mr XYZ</td>

              </tr>
              <tr>
                <th>Email</td>
                  <td><input type="email" name="" class="form-control" placeholder="Admins email"></td>
              </tr>
               <tr>
                <th>Password</td>
                  <td><input type="password" name="" class="form-control" placeholder="Admins pw"></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="submit" name="" value="save changes" class="btn btn-primary"></td>
              </tr>

               
             </table>
           </form>

          </div>

         
        </div><!-- /// row -->

   </section>


   
   	<br>
   	<br>

  <br><br><br>

  <%- include('../includes/footer.ejs') %>