    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <p>Copyrights reserved <i class="fa fa-copyright" aria-hidden="true"></i> 2020 </p>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>	
    </footer>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </div>
</body>
</html>