<%- include('./includes/index-nav.ejs') %>

<body id="bg-user">
	<div class="layer">
 <br>
	<section class="container">
      <div class="alert alert-danger text-center">
        <h1>401 Unauthorized Access ! </h1>
        <h3>Sorry!! You cant access this page. To view this page kindly login.</h3>
        <h1><a href="/" class="text-danger">Click here to go to Home page</a></h1>
      </div>

  </section>
	<br>
	<br>
<br><br><br>

<%- include('./includes/footer.ejs') %>