<%- include('../includes/student-nav.ejs') %>

   <section class="container">
   	  <h4>Student Dashboard</h4>
   	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
    Student Dashboard / Home</li>
  </ol>
</nav>
   </section>

   
   	<br>
   	<br>

   <section class="container">
   	     <div class="container">
                      
                        <div class="row">
                            <div class="col-md-6 border p-2">
                                <h4>Scheduled Exams </h4> <!-- // show their semester only List Ex. CS branch 2nd Sem -->
                                <table class="table table-bordered table-sm text-center">
                                    <tr>
                                    <th>Sl No</th>
                                    <th>Date</th>
                                    <th>Time Slot</th>
                                   
                                    </tr>

                                    <tr>
                                    <td>1</td>
                                    <td>03/03/2020</td>
                                    <td>1. 9AM - 12PM</td>
                                    
                                    </tr>
                                     
                                 </table> 
                                
                                <br>
                            </div>

                            <div class="col-md-6 border p-2">
                                <h4>Generated Seat Plans</h4>
                              <!--   <p>Display all the generated plans where students sem is included. Example student is of 2nd Sem so Display all seat plans generated for 2nd sem</p> -->
                                <table class="table table-bordered table-sm text-center text-center table-striped">
                                    <tr>
                                        <th>Sl No</th>
                                        <th>Date</th>
                                        <th>Slot</th>
                                        <th>Action</th>
                                       
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>03/03/2020</td>
                                        <td>9AM- 12PM</td>
                                        
                                        
                                     <td>
                               
                            <button class="btn btn-info btn-sm">
                         Download    <i class="fa fa-cloud-download"></i> 
                            </button>
                        
                                        </td>
                                    </tr>
                                    
                                </table> 
                            </div>
                        </div>
                        <br><hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>University Exam Schedules</h4>

                                <table class="table table-bordered table-striped table-hover table-sm text-center">
                                    <tr>
                                        <th>Sl No</th>
                                        <th>Title</th>
                                        <th>Action</th>

                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Finals For CSE</td>
                                        <td>
                                            <button class="btn btn-warning">Download <i class="fa fa-cloud-download"></i> </button>
                                        </td>
                                    </tr>
                                    
                                </table>
                            </div>
                        </div>
                        
                    </div>
   	
   </section><br><br><br>

   <%- include('../includes/footer.ejs') %>